<div class="container-fluid container-bckg">
  <div *ngIf="!loading">
  <h3>
    What's your feeling?
  </h3>
    <p>
      Fill in the (not so personal) questions below and will tell you <STRONG>goTo</STRONG>!
    </p>
    <hr class="short-line"><br>
  <form>
    <fieldset>
      <div class="row">
        <div class="column">
          <label for="nameField">Name</label>
          <input *ngIf="this.session.isAuth" type="text" placeholder="TEST" id="nameField" name="name" [(ngModel)]="newSearch.name" required>
          <input *ngIf="!this.session.isAuth" type="text" placeholder="or nickname, whatever rocks your boat..." id="nameField" name="name" [(ngModel)]="newSearch.name" required>
        </div>
        <div class="column">
          <label for="cityCountryField">City and Country</label>
          <input type="text" placeholder="your base city and country you are located" id="cityCountryField" name="cityCountry" #search [formControl]="searchControl" [(ngModel)]="newSearch.location" required>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="peopleField">How many people?</label>
          <select id="peopleField" name="people" [(ngModel)]="newSearch.people" required>
            <option value="1" selected>loner and loving it (1)</option>
            <option value="2">just two (cough cough) (2)</option>
            <option value="3">the musketeers (3)</option>
            <option value="4">getting crowded (4)</option>
            <option value="5">no pair events (5)</option>
            <option value="6">just too many (6)</option>
          </select>
        </div>
        <div class="column">
          <label for="budgetField">What's the budget?</label>
          <select id="budgetField" name="budget" [(ngModel)]="newSearch.budget" required>
            <option value="2000">kind of stingy (up to 2,000 EUR)</option>
            <option value="4000">saved up (up to 4,000 EUR)</option>
            <option value="6000">got some spare cash (up to 6,000 EUR)</option>
            <option value="8000">i'm doing well bro (up to 8,000 EUR)</option>
            <option value="15000">high roller (up to 15,000 EUR)</option>
          </select>
        </div>
        <div class="column">
          <label for="travelField">Travelling duration?</label>
          <select id="travelField" name="duration" [(ngModel)]="newSearch.duration" required>
            <option value="6">short and sweet (up to 6 hours one way)</option>
            <option value="12">somewhere in the middle (up to 12 hours one way)</option>
            <option value="24">wanna go the distance (up to 24 hours one way)</option>
            <option value="48">got lots of time baby (up to 48 hours one way)</option>
          </select>
        </div>
      </div><br>

        <div class="row">
          <div class="column">
            <label for="startField">Start Date</label>
            <input type="date" class="date-style" placeholder="start date" id="startField" name="startDate" [(ngModel)]="newSearch.startDate" required>
          </div>
          <div class="column">
            <label for="endField">End Date</label>
            <input type="date" pattern="\d{1,2}/\d{1,2}/\d{4}" class="date-style" placeholder="end date" id="endField" required name="endDate" [(ngModel)]="newSearch.endDate" >
          </div>
        </div><br>
        <div class="row centered">
          <label for="typeField">What's your preference?</label>
        </div><BR>
        <div class="row">
          <div class="column">

          </div>
          <div class="column text-center">
            <label>
              <input type="radio" class="checkbox-style" name="typeField" value="Adventure" (change)="onSelectionChange('Adventure')">
              <img class="radio-icon" src="./assets/images/adventure.png"><br>An Adventure
            </label>
          </div>
          <div class="column text-center">
            <label>
              <input type="radio" class="checkbox-style" name="typeField" value="Bachelor" (change)="onSelectionChange('Bachelor')">
              <img class="radio-icon" src="./assets/images/bachelor.png"><br>Bachelor Party
            </label>
          </div>
          <div class="column text-center">
            <label>
              <input type="radio" class="checkbox-style" name="typeField" value="Sightseeing" (change)="onSelectionChange('Sightseeing')">
              <img class="radio-icon" src="./assets/images/sightseeing.png"><br>For Sightseeing
            </label>
          </div>
          <div class="column text-center">
            <label>
              <input type="radio" class="checkbox-style" name="typeField" value="Sports" (change)="onSelectionChange('Sports')">
              <img class="radio-icon" src="./assets/images/skiing.png"><br>For<br>Sports
            </label>
          </div>
          <div class="column text-center">
            <label>
              <input type="radio" class="checkbox-style" name="typeField" value="Party" (change)="onSelectionChange('Party')">
              <img class="radio-icon" src="./assets/images/party.png"><br>For Partying
            </label>
          </div>
          <div class="column text-center">
            <label>
              <input type="radio" class="checkbox-style" name="typeField" value="Relaxing" (change)="onSelectionChange('Relaxing')">
              <img class="radio-icon" src="./assets/images/relaxing.png"><br>For Relaxing
            </label>
          </div>
          <div class="column text-center">
            <label>
              <input type="radio" class="checkbox-style" name="typeField" value="Family" (change)="onSelectionChange('Family')">
              <img class="radio-icon" src="./assets/images/family.png"><br>For a Family
            </label>
          </div>
          <div class="column">

          </div>
        </div>
      <br>
      <input class="button-primary" type="submit" value="Go!" (click)="submitForm()">
    </fieldset>
  </form>
    </div>
    <div *ngIf="loading">
      <h3>We will come back to you shortly!</h3>
        <i class="fa fa-spinner spinner-font"></i>
    </div>
</div>
