<div class="container-fluid container-bckg">
  <h3>
  Your Dash Board:
  </h3>
    <hr class="short-line"><br>
    <div class="row user-details">
      <ul>
        <li><strong>Name: </strong> {{user.name}} {{user.surname}}</li>
        <li><strong>Email: </strong> {{user.email}}</li>
        <li><strong>Address: </strong> {{user.street}} {{user.streetN}}</li>
        <li><strong>Post Code: </strong> {{user.postCode}}</li>
        <li><strong>City: </strong> {{user.city}} </li>
        <li><strong>Country: </strong> {{user.country}} </li>
      </ul>
    </div>
    <h3> Manage Your Places </h3>
    <hr class="short-line"><br>
 <div class="row">
    <div class="column">
      <div class="cell-add">

      <p><u>Add a place: </u></p>
        <br>
        <input class="addcity" type="text" name="city" value="" placeholder="a city you visited" #search [formControl]="searchControl"><br><br>
        <button type="button" class="button-primary" name="button" (click)="addPlace()"><strong>Add</strong></button><br><br>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="column">
      <p><u>Visited: </u></p>

      <div class="cell-list">
        <br>
        <img src="./assets/images/pinSmaller.png" alt="">
        <ul>
          <li> {{user.city}}, {{user.country}} <img class="home-icon" src="../assets/images/home.png" alt=""></li>
          <li *ngFor="let place of user.places"> {{place.city}}, {{place.country}} - <strong><img class="delete-icon" src="../assets/images/delete.svg" alt="" (click)="deleteItem(place)"></strong></li>
        </ul>
        <br><br>
      </div>
    </div>
    <div class="column">
      <p><u>Wish List: </u></p>

      <div class="cell-list">
        <br>
        <img src="./assets/images/pinheart.png" alt="">

        <ul>
          <li *ngFor="let place of user.wishlist"> {{place.city}}, {{place.country}} - <strong><img class="delete-icon" src="../assets/images/delete.svg" alt="" (click)="deleteItemWishlist(place)"></strong></li>
        </ul>
        <br><br>
      </div>
    </div>
 </div><br>
 <h3> Your Pins </h3>
 <hr class="short-line"><br>
 <div class="row centered destination-label">
   {{selection}}
  </div>
 <div class="row">
   <div class="map-container">
       <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <sebm-google-map-marker [latitude]="user.lat" [longitude]="user.lng" [iconUrl]="'./assets/images/homepin.png'" (markerClick)="showTarget(user)"></sebm-google-map-marker>
       <sebm-google-map-marker *ngFor="let place of user.places" [latitude]="place.lat" [longitude]="place.lng" [iconUrl]="'./assets/images/pinSmaller.png'" (markerClick)="showTarget(place)"></sebm-google-map-marker>
       <sebm-google-map-marker *ngFor="let place of user.wishlist" [latitude]="place.lat" [longitude]="place.lng" [iconUrl]="'./assets/images/pinheart.png'" (markerClick)="showTarget(place)"></sebm-google-map-marker>
     </sebm-google-map>
   </div>

</div>
