<div class="container-fluid container-bckg">
  <h3>
  Your Dash Board:
  </h3>
    <hr class="short-line"><br>
    <div class="row user-details">
      <ul>
        <li><strong>Name: </strong></li>
        <li><strong>Email: </strong></li>
        <li><strong>Address: </strong></li>
        <li><strong>Post Code: </strong></li>
        <li><strong>City: </strong></li>
        <li><strong>Country: </strong></li>
      </ul>
    </div>
    <h3> Manage Your Places </h3>
    <hr class="short-line"><br>
 <div class="row">
    <div class="column">
      <p><u>Add a place you visited: </u></p>
      <div class="cell-add">
        <br>
        <input class="addcity" type="text" name="city" value="" placeholder="insert city name"><br><br>
        <button type="button" class="button-primary" name="button"><strong>Add</strong></button><br><br>
      </div>
    </div>
    <div class="column">
      <p><u>Remove a place: </u></p>
      <div class="cell-list">
        <br>

        <ul>
          <li> Barcelona | <a href="#"><strong>Remove</strong></a> </li>
          <li> New York | <a href="#"><strong>Remove</strong></a> </li>
        </ul>
        <br><br>
      </div>
    </div>
 </div><br><br>
 <h3> Your Pins </h3>
 <hr class="short-line"><br>
 <div class="row">
   <img id="sample" src="../assets/images/sample.png" alt="">
 </div>
</div>
