
.menu-bar {
  display: flex;
  border-radius: 15px;
  background-color: #B89DC9;
  width: 67%;
  margin: 0 auto;
  box-shadow: 2px 2px 5px rgb(92, 92, 92);

}

.menu-left {
  color: white;
  font-size: 20px !important;
  min-width: 50%;
  padding-left: 20px;
  margin-left: 0px;
  text-align: left;
}

.search {
  max-width: 130px;
}

.browse {
  width: auto;

}

.menu-right {
  color: white;
  font-size: 20px;
  min-width: 50%;
  padding-right: 10px;
  margin-right: 0px;
  text-align: right;
}

.register-style {
  width: auto;
  font-size: 22px;
}

.login-style {
  /*border-right: 2px solid rgb(77, 39, 88);*/
  min-width: auto;
}

span {
  font-size: 30px !important;
  font-weight: 400 !important;
}

a {
  vertical-align: middle;
  font-size: 26px;
}

@media (max-width: 900px) {

  .menu-bar {
    width: 90%;
  }

}
