<div class="menu-bar">
  <div class="menu-left">
    <strong><a [routerLink]="['home']">Go/To</a></strong>
  </div>
  <div class="menu-right">
    <div class="row">
      <div *ngIf="!this.session.isAuth" class="column login-style">
        <button type="button" class="button-clear" name="button" (click)="gotoLogin()">Login</button>
      </div>
      <div *ngIf="!this.session.isAuth" class="column register-style">
        <button type="button" class="button-clear" name="button" (click)="gotoRegister()">Register</button>
      </div>
      <div *ngIf="this.session.isAuth" class="column login-style">
        <button type="button" class="button-clear" name="button" (click)="gotoDashboard()">DashBoard</button>
      </div>
      <div *ngIf="this.session.isAuth" class="column register-style">
        <button type="button" class="button-clear" name="button" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
