<div class="menu-bar">
  <div class="menu-left">
    <strong><a [routerLink]="['home']">Go/To</a></strong>
  </div>
  <div class="menu-right">
    <div class="row">
      <div *ngIf="!this.session.isAuth" class="column login-style">
        <a href="#"><strong><a [routerLink]="['login']">Login</a></strong></a>
      </div>
      <div *ngIf="!this.session.isAuth" class="column register-style">
        <a href="#"><strong><a [routerLink]="['signup']">Register</a></strong></a>
      </div>
      <div *ngIf="this.session.isAuth" class="column login-style">
        <a href="#"><strong><a [routerLink]="['dashboard/' + this.session.getUserIdFromLocal()]">Dashboard</a></strong></a>
      </div>
      <div *ngIf="this.session.isAuth" class="column register-style">
        <a href=""><strong><a (click)="logout()">Logout</a></strong></a>
      </div>
    </div>
  </div>
</div>
