<div class="menu-bar">
  <div class="menu-left">
    <div class="row">
      <div class="column search">
        <strong><a [routerLink]="['home']">Search</a></strong>
      </div>
      <div class="column browse">
        <strong><a [routerLink]="['browse']">Browse</a></strong>
      </div>
    </div>

  </div>
  <div class="menu-right">
    <div class="row">
      <div *ngIf="!this.session.isAuth" class="column login-style">
        <button type="button" class="button-clear" name="button" (click)="gotoLogin()"><strong>Login</strong></button>
      </div>
      <div *ngIf="!this.session.isAuth" class="column register-style">
        <button type="button" class="button-clear" name="button" (click)="gotoRegister()"><strong>Register</strong></button>
      </div>
      <div *ngIf="this.session.isAuth" class="column login-style">
        <button type="button" class="button-clear" name="button" (click)="gotoDashboard()"><strong>DashBoard</strong></button>
      </div>
      <div *ngIf="this.session.isAuth" class="column register-style">
        <button type="button" class="button-clear" name="button" (click)="logout()"><strong>Logout</strong></button>
      </div>
    </div>
  </div>
</div>
